@import "../AllCss/root.css";
.point {
  position: relative;
}
.menu {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.hamburger {
  position: fixed;
  top: 1rem;
  z-index: 11;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  transition: all 0.5s ease-in-out;
}
.hamburger img {
  width: 3rem;
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 10;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.719);
  width: 100%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}
.open {
  transform: translateX(0);
}
.times {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.times img {
  width: 30px;
}

.mobile-nav ul {
  list-style-type: none;
}
.Nav {
  list-style: none;
  margin-top: 5rem;
}
.icon {
  font-size: 5rem;
  margin-top: 0;
}

@media (max-width: 60em) {
  .hamburger {
    display: block;
  }
}
