@import "../AllCss/root.css";

.btn-text {
  font-size: 1.6rem;
  color: var(--dark);
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid var(--dark);
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: var(--transparent);
  color: var(--dark);
  box-shadow: 0 1rem 2rem rgba(var(--shadow), 0.15);
  transform: translateY(-0.2rem);
  border-bottom: none;
  cursor: pointer;
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(var(--dark), 0.15);
  transform: translateY(0);
}
